.detail-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.detail-header {
  text-align: center;
  margin-bottom: 20px;
}

.detail-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}

.detail-info {
  text-align: left;
}

.detail-info h2 {
  margin-bottom: 10px;
}

.detail-info h4 {
  margin: 5px 0;
}
