body,
html {
  margin: 0;
  padding: 0;
}

.cards-container-fav {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/img/detail-favorites.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.barraFavoritos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.barraFavoritos select {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  color: white;
  margin-right: 10px;
  padding: 8px;
  border: none;
}

.barraFavoritos select option {
  font-size: large;
  font-weight: 400;
  text-align: justify;
  background-color: black;
  color: green;
  margin-right: 10px;
  padding: 8px;
  border: none;
}

.fav-close {
  display: flex;
  justify-content: center;
  align-items: center;
}
