.search-bar {
  display: flex;
  align-items: center;
}
.search-bar input {
  flex: 1;
  padding: 0.5em;
  margin-right: 10px;
  color: white;
  outline: none;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.8px;
}

.search-bar input:focus {
  box-shadow: 0 0 16px 1px rgba(255, 255, 255, 0.559);
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.search-bar input::placeholder {
  color: white;
  font-weight: bold;
}

.search-bar button {
  padding: 0.5em;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(42, 110, 42);
  outline: none;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  border: none;
}

.search-bar button:hover {
  background-color: rgb(16, 194, 16);
  transform: scale(1.2);
}
